body {
	background-color: #0099ff;
}

#welcomeContainer{
    margin-top: 50px;
}

#logInForm{
    background-color: white;
    border: 1px solid;
    min-height: 121px;
}

#signUpForm{
    background-color: white;
    border: 1px solid;
    min-height: 337px;
}

#signAndLogIn{
    max-width: 370px;
}

#welcomePic{
    max-width: 370px;
    min-height: 458px;
}

.field{
    float: right;
}

.loggedInButton {
    width: 170px;
    margin-top: 10px;
    margin-bottom: 3px;
    float: right;
}

.otherUserButton {
     width: 300px;
     margin-bottom: 15px;
    margin-top: 10px;
     float: right;
}

#postButton {
    width: 200px;
    margin-bottom: 15px;
    float: right;
}

.welcomeButton {
    float: right;
    width: 150px;
    margin-bottom: 3px;
}

h3{
    text-align: center;
}

select{
    width: 170px;
}

#errorBox{
    background-color: red;
    text-align: center;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#home{
	margin-left: auto;
	margin-right: auto;
}

#browse{
    display: none;
    width: 170px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#account {
    display: none;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

#otherUser{
    display: none;
}

#browseForm {
    height: 110px;
}

#accountForm {
    height: 270px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#tabs{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#userInfo{
    background-color: white;
    border: 1px solid;
    text-align: center;
    width: 370px;
    min-height: 479px;
}

#messageWall {
    max-width: 370px;
}

#post {
    background-color: #ffffff;
    border: 1px solid;
    min-height: 162px;
    width: 340px;
}

#wall {
    background-color: #ffffff;
    border: 1px solid;
    min-height: 317px;
    width: 340px;
}

#message {
    float: right;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;

}

#dropDiv {
    width: 120px;
    height: 120px;
    border: solid;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

label{
    text-align: center;
}

#accountErrorBox {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 50px;
    width: 170px;
    background-color: red;
    display: none;
}

#browseErrorBox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 50px;
    width: 170px;
    background-color: red;
    display: none;
}

#otherUserInfo {
    background-color: #ffffff;
    border: 1px solid;
    max-width: 370px;
    min-height: 258px;
    text-align: center;
}

#otherMessageWall {
    max-width: 370px;
}

#otherPost {
    background-color: #ffffff;
    border: 1px solid;
    min-height: 162px;
    min-width: 340px;
}

#otherWall {
    background-color: #ffffff;
    border: 1px solid;
    min-height: 337px;
    min-width: 340px;
}

#otherMessage {
    float: right;
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
}

#picDiv {
    width: 98px;
    height: 105px;
    float: left;
    margin-top: -5px;
    border: 1px solid;
    text-align: center;
}

#promKing {
    width: 80px;
    max-height: 90px;
    margin-top: -5px;
}

#dragHeader {
    margin-top: 0px;
}

#extraInfo {
    background-color: #ffffff;
    border: 1px solid;
    width: 370px;
    min-height: 479px;
}
